<ion-tabs mode="ios">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="../../../assets/tabs/Group 105.svg"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="orders">
            <ion-icon src="../../../assets/tabs/Group 107.svg"></ion-icon>
            <ion-label>Orders</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon src="../../../assets/tabs/Group 108.svg"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>