<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title class="ion-text-center">Cancel Order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center cancel">
        Are you sure you want to cancel this order ?
    </div>
    <div class="bottom ion-text-end">
        <ion-button (click)="dismis()" class="back" fill="clear" mode="ios">No, Go Back</ion-button>
        <ion-button (click)="remove()" class="remove" fill="clear" mode="ios">Yes! Remove</ion-button>
    </div>
</ion-content>