ion-button {
    background-color: #2C69A5;
    margin-left: 27px;
    margin-right: 29px;
    height: 48px;
    border-radius: 51px;
    font-size: 16px;
    font-family: 'proxi-regular';
    letter-spacing: 2px;
    overflow: hidden;
}