<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-button fill="clear" (click)="back()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title mode="md">Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center ion-margin-top" (click)="albumSheet()">
        <img class="profile" src="{{image}}" height="123px" width="123px">
        <img class="picker" src="../../../assets/Profile/Group 8018.svg">
    </div>
    <div class="padding">
        <div class="ion-margin-top">
            <div class="input-div">
                <ion-label>Full Name</ion-label>
                <ion-input [(ngModel)]="name" value="{{profile?.name}}" placeholder="Enter your full name"></ion-input>
            </div>
            <div class="input-div">
                <ion-label>Email Address</ion-label>
                <ion-input [(ngModel)]="email" readonly="true" value="{{profile?.email}}" placeholder="Enter your email ID"></ion-input>
            </div>
            <div>
                <ion-label class="number">Enter Your Number</ion-label>
            </div>
            <div class="number-input">
                <div class="code-div">
                    <ng-select class="country-codeSelect" [clearable]="false" [(ngModel)]="code" [items]="cCode" bindLabel="dial_code" bindValue="dial_code">
                        <ng-template ng-label-tmp let-item="item">
                            <img height="16" width="21" src="{{'https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/' + (item.code | lowercase) + '.png'}}" style="margin-right: 8px;margin-bottom: -2px" />
                            <span>{{item.dial_code}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img height="16" width="21" src="{{'https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/' + (item.code | lowercase) + '.png'}}" style="margin-right: 8px;margin-bottom: -2px" />
                            <span>{{item.dial_code}}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="number-div">
                    <div class="input-div">
                        <ion-input [(ngModel)]="phone" value="{{profile?.phone}}" type="tel" placeholder="00000000"></ion-input>
                    </div>
                </div>

            </div><br>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar class="ion-no-padding">
        <ion-button (click)="changeProfile()" expand="full" mode="md" color="var(--blue-color)">Change This Information</ion-button>
    </ion-toolbar>
</ion-footer>