<ion-content [ngStyle]="{'background-image': 'url(' + image + ')'}">
    <div class="dark-layer">
        <div class="content-section">
            <div class="ion-margin-top div">
                <ion-item class="ion-no-padding" lines="none">
                    <ion-buttons>
                        <ion-back-button mode="md" defaultHref="login" text="" icon="arrow-back-outline"></ion-back-button>
                    </ion-buttons>
                    <ion-label class="title">
                        <p>
                            User Verification <span class="ion-float-right">My Laundry</span>
                        </p>
                        <div class="hr"></div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="padding-top">
                <p class="footer">
                    We are sending one OTP on your device, Please check and set OTP here.
                </p>
                <div class="input-div">
                    <ion-label>OTP Verification</ion-label>
                    <ion-input [(ngModel)]="email" placeholder="Enter Email here"></ion-input>
                    <p class="err" *ngIf="email.length == 0">{{err?.email[0]}}</p>
                </div>
                <div>
                    <ion-button (click)="verify()" mode="md" color="var(--blue-color)" expand="full">
                        Verify My Account
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>