ion-content {
    --background: none;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    .dark-layer {
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }
    .err {
        color: red;
        font-family: proxi-regular;
        font-size: 14px;
        margin-top: 8px;
        margin-left: 4px;
    }
    .content-section {
        width: 100%;
        padding: 4vh 29px 139px 26px;
        background-color: white;
        position: absolute;
        bottom: 0%;
        ion-back-button {
            color: var(--blue-color);
            margin-right: -2px;
            margin-left: -11px;
        }
        ion-item {
            --inner-padding-end: 0;
        }
        .div {
            margin-bottom: 74px;
        }
        .footer {
            font-size: 13px;
            color: var(--input-color);
            font-family: proxi-regular;
        }
        .title {
            p {
                color: var(--black-color);
                font-size: 15px;
                font-family: proxi-bold;
                span {
                    font-size: 24px;
                    font-family: proxi-black;
                    color: var(--black-color);
                }
            }
            .hr {
                background: var(--blue-color);
                border: 1px solid var(--blue-color);
                width: 8%;
                margin-top: 3px;
            }
        }
        .padding-top {
            margin-top: 50px;
            .input-div {
                margin-bottom: 20px;
                ion-label {
                    font-family: proxi-regular;
                    font-size: 13px;
                }
                ion-input {
                    height: 44px;
                    background-color: #F5F5F5;
                    border-radius: 7px;
                    margin-top: 11px;
                    font-size: 15px;
                    font-family: proxi-regular;
                    --padding-start: 20px;
                    color: var(--input-color);
                    --placeholder-opacity: 1;
                }
            }
            .forgot {
                font-size: 13px;
                font-family: proxi-regular;
                color: var(--input-color);
            }
            ion-button {
                height: 44px;
                background-color: var(--blue-color);
                margin-top: 25px;
                border-radius: 7px;
                overflow: hidden;
                text-transform: capitalize;
                font-size: 17px;
                font-family: proxi-regular;
                width: 100%;
            }
        }
    }
}