ion-header {
    ion-toolbar {
        ion-title {
            --padding-start: 0px;
            margin-left: -8px;
            font-size: 17px;
            font-family: proxi-extrabold;
        }
        ion-button {
            font-size: 13px;
            color: var(--blue-color) !important;
            text-transform: capitalize;
            font-family: proxi-regular;
            --background: transparent;
            --color: var(--blue-color);
        }
    }
}

ion-content {
    h1 {
        font-family: proxi-thin;
        font-size: 25px;
    }
    .img {
        width: 100%;
        padding-left: 17px;
        padding-right: 19px;
    }
    .label {
        font-size: 15px;
        font-family: 'proxi-bold';
    }
    .deails_div {
        padding-top: 8px;
        padding-bottom: 5px;
        background-color: #f9f9f9;
        margin-bottom: 10px;
        p {
            padding-left: 14px;
            padding-right: 14px;
            font-size: 15px;
            font-family: proxi-regular;
            margin-bottom: 18px;
            span {
                color: var(--input-color);
            }
        }
        .address {
            margin-left: 102px;
            font-size: 12px;
            margin-top: -14px;
            text-align: justify;
        }
        .item {
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 33px;
            font-size: 19px;
            font-family: 'proxi-bold';
            ion-text {
                font-size: 15px;
                font-family: 'proxi-regular';
                color: darkgray;
            }
            span {
                color: black;
                font-size: 15px;
                font-family: proxi-regular;
            }
        }
        .coupon_div {
            height: 52px;
            background-color: #DFEFFF;
            padding-top: 7px;
            .sub_div {
                height: 40px;
                margin-left: 17px;
                margin-right: 17px;
                border: 1.8px dashed var(--blue-color);
                border-radius: 9px;
                font-size: 15px;
                color: var(--blue-color);
                padding-top: 10px;
            }
        }
        .item-text {
            font-family: proxi-bold;
            font-size: 15px;
            margin-top: 23px;
            margin-bottom: 5px !important;
            span {
                color: var(--blue-color);
            }
        }
        ion-item {
            --background: transparent;
            --inner-padding-end: 0px;
            --padding-start: 18px;
            margin-bottom: 0px !important;
            p {
                font-size: 15px;
                font-family: proxi-regular;
                margin-left: 13px;
            }
            ion-checkbox {
                --background: #F1F1F1;
                --border-color: #f9f9f9;
                --size: 26px;
                --background-checked: var(--blue-color);
                --checkmark-color: white;
                --checkmark-width: 2px;
            }
            img {
                object-fit: scale-down;
                height: 20px;
                width: 24px;
            }
        }
    }
    .btn-payment {
        background-color: var(--blue-color);
        font-size: 13px;
        font-family: proxi-regular;
        height: 38px;
        margin-left: 92px;
        margin-right: 92px;
        border-radius: 30px;
        overflow: hidden;
        width: 194px;
        text-transform: capitalize;
    }
    .margin-top {
        margin-top: 35px;
        margin-bottom: 47px;
    }
}