ion-content {
    --background: none;
    /* background-image: url('../../../assets/image/group.png'); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    .dark-layer {
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }
    .content-section {
        width: 100%;
        padding: 4vh 29px 20px 26px;
        margin-top: 44vh;
        background-color: white;
        position: absolute;
        bottom: 0;
        .err {
            color: red;
            font-family: proxi-regular;
            font-size: 14px;
            margin-top: 8px;
            margin-left: 4px;
        }
        .title {
            p {
                color: var(--black-color);
                font-size: 15px;
                font-family: proxi-bold;
                span {
                    font-size: 24px;
                    font-family: proxi-black;
                    color: var(--black-color);
                }
            }
            .hr {
                background: var(--blue-color);
                border: 1px solid var(--blue-color);
                width: 8%;
                margin-top: 4px;
            }
        }
        .padding-top {
            margin-top: 50px;
            .input-div {
                margin-bottom: 20px;
                ion-label {
                    font-family: proxi-regular;
                    font-size: 13px;
                }
                ion-input {
                    height: 44px;
                    background-color: #F5F5F5;
                    border-radius: 7px;
                    margin-top: 11px;
                    font-size: 15px;
                    font-family: proxi-regular;
                    --padding-start: 20px;
                    color: var(--input-color);
                    --placeholder-opacity: 1;
                }
            }
            .forgot {
                font-size: 13px;
                font-family: proxi-regular;
                color: var(--input-color);
            }
            ion-button {
                height: 44px;
                background-color: var(--blue-color);
                margin-top: 74px;
                border-radius: 7px;
                overflow: hidden;
                text-transform: capitalize;
                font-size: 17px;
                font-family: proxi-regular;
                width: 100%;
                ;
            }
            .footer {
                p {
                    font-size: 13px;
                    color: var(--input-color);
                    font-family: proxi-regular;
                    margin-top: 43px;
                    span {
                        color: var(--blue-color);
                        font-size: 13px;
                        font-family: proxi-bold;
                        text-transform: uppercase;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}